# CS229: Problem Set 1

**C. Combier**

This iPython Notebook provides solutions to Stanford's CS229 (Machine Learning, Fall 2017) graduate course problem set 1, taught by Andrew Ng.

The problem set can be found here: [http://github.com/ccombier/CS229/ps1.pdf](http://github.com/ccombier/CS229/ps1.pdf)

I chose to write the solutions to the coding questions in Python, whereas the Stanford class is taught with Matlab/Octave.

Let's start by setting up our Python environment and importing the required libraries:

In [3]:
%matplotlib inline
import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes

#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

import seaborn as sns #sets up styles and gives us more plotting options

## Problem 1: Logistic Regression

The goal of this problem is to implement Newton's method to solve a logistic regression problem.

### Question 1.a)

### Question 1.b)

Let's start by loading the data into two pandas DataFrames:

In [46]:
df_x = pd.read_csv("./logistic_x.txt", sep="\s+", names=["x1","x2"])
df_y = pd.read_csv("./logistic_y.txt", sep="\s+", names="y")
df_x.head()

         x1        x2
0  1.343250 -1.331148
1  1.820553 -0.634668
2  0.986321 -1.888576
3  1.944373 -1.635452
4  0.976734 -1.353315

Let's add an extra column x0 containing 1's to take into account the intercept:

In [47]:
df_x.insert(0, "x0", np.ones(len(df_y["y"])))
df_x.head()

    x0        x1        x2
0  1.0  1.343250 -1.331148
1  1.0  1.820553 -0.634668
2  1.0  0.986321 -1.888576
3  1.0  1.944373 -1.635452
4  1.0  0.976734 -1.353315

Now let's define our Gradient and Hessian functions:

In [48]:
def grad_l(theta, x, y):
    return x

def hess_l(theta, x, y):
    return x

Now let's write Newton's method into a Python function:

In [ ]:
def newton(x0, G, H, eps):
    theta = x0
    delta = np.linalg.norm(G(theta, x, y), ord=1)
    while delta > eps:
        theta = theta + np.linalg.inv(H(theta, x, y))*G(theta, x, y)
        delta = np.linalg.norm(G(theta, x, y), ord=1)
    return theta